<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styleabout.css') }}">
    <!-- Link to your CSS file -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    
    <!-- Add any other stylesheets or meta tags as needed -->
</head>
<body>
    <header>
        <!-- Include your navigation bar or header content here if needed -->
    </header>

    <main>
        <section class="about-section">
            <h1>About Us</h1>
            <p>Welcome to MovieMunchkins, your bite-sized guide to movie magic!</p>
            <p>At MovieMunchkins, we're passionate about movies and want to share that passion with you. Whether you're a casual moviegoer or a die-hard cinephile, MovieMunchkins has something for everyone.</p>
        </section>

        <section class="team-section">
            <h1>Magic Maker</h1>
            <!-- <h2>Our Team</h2> -->
            <div class="team-member">
                
                <h1>Maulshree</h1>
                <p>Founder & CEO</p>
            </div>
            
        </section>

        <section class="mission-section">
            <h2>Our Mission</h2>
            <p>Our mission at MovieMunchkins is to provide movie lovers with a curated selection of the latest movies, reviews, ratings, and much more. We strive to create a vibrant community where movie enthusiasts can come together to discover, discuss, and enjoy their favorite films.</p>
        </section>

        <section class="contact-section">
            <h2>Contact Us</h2>
            <p>If you have any questions, feedback, or suggestions, please don't hesitate to contact us:</p>
            <ul>
                <li>Email: info@moviemunchkins.com</li>
                <li>Phone: 123-456-7890</li>
                <!-- Add more contact information as needed -->
            </ul>
        </section>
    </main>

    <footer>
        <!-- Include your footer content here -->
    </footer>

    <!-- Link to your JavaScript file if needed -->
    <script src="app.js"></script>
</body>
</html>
